.wrapper.wrapper-1 {
	background-image: url('https://images.unsplash.com/photo-1510274460854-4b7ad642d3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 527px;
	overflow: cover;
	background-size: cover;

}

.wrapper.wrapper-2 {
	background-image: url('https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 527px;
	overflow: cover;
	background-size: cover;
}

.wrapper.wrapper-3 {
	background-image: url('https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1790&q=80');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 527px;
	overflow: cover;
	background-size: cover;
}

.wrapper__fon {
	background-image: url('/img/fon.jpg');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 527px;
	overflow: cover;
	background-size: cover;

}

.divizions__wrapper {
	margin: 0 auto;
	width: 1100px;
	min-height: 300px;
	// transform: translateY(50px);

	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.divizion {
	width: 250px;
	height: 250px;
	background-color: #ffffff;
	text-align: center;
	color: @lime-green;
	&:hover {
		background-color: @lime-green;
		color: white;
	}
}

// .divizion__text {
// 	margin-top: 110px;
// }
