head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
	title Hypophys

	//- link(rel="stylesheet" href="libs/fontawesome/font-awesome.min.css")
	link(rel="stylesheet" href="libs/animate/animate.css")
	link(rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
	link(rel="manifest" href="img/site.webmanifest")
	link(rel="stylesheet" href="libs/owl-carousel/owl.carousel.min.css")
	link(rel="stylesheet" href="libs/owl-carousel/owl.theme.default.min.css")
	link(href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet")
	
	link(rel="stylesheet" href="css/main.css")