.wrapper
	.container
		//- .wrapper__fon

		h1.header-title Гуминовые препараты от нашей компании помогают вырастить и сохранить ваш урожай
		p.header-subtitle Успешно применяются в сельском хозяйстве и частном секторе 
		//- .divizions
	.divizions__wrapper
		.divizion 
			.divizion__text Сельское хозяйство
				a(href="") 
		.divizion 
			.divizion__text Животноводство
				a(href="") 
		.divizion 
			.divizion__text Сад, Огород
				a(href="") 
		.divizion 
			.divizion__text Клумба, Газон, Горшок
				a(href="") 