//- .wrapper
.container.container__content
	//- .wrapper__fon
	//- h1.header-title Гуминовые препараты от нашей компании помогают вырастить и сохранить ваш урожай
	//- p.header-subtitle Успешно применяются в сельском хозяйстве и частном секторе
	.owl-carousel.owl-theme
		.item.wrapper
			
		.item.wrapper
			
		.item.wrapper
			
		//- .divizions
	include _module-header-title
	include _animate-number
	.divizions__wrapper
		.divizion 
			.divizion__text Сельское хозяйство
				a(href="") 
		.divizion 
			.divizion__text Животноводство
				a(href="") 
		.divizion 
			.divizion__text Сад, Огород
				a(href="") 
		.divizion 
			.divizion__text Клумба, Газон, Горшок
				a(href="") 