nav.navigation-wrapper
	.navigation__upper
		.container.upper-nav
			.lang-box
				.lang RU
				.lang EN
				.lang ES
			ul.navigation
				li.navigation__item info@hypophys.ru
				li.navigation__item +7 (495) 324 44 43
	.container
		.navigation__main
			a(href="index.html").logo 
				//- img(src="img/logo.png", alt="logo", width="50px", height="50px")
				.logo_text Hypophys
			ul.navigation__logo
				li.navigation__item
					a(href="#products").navigation__link Продукты
				li.navigation__item
					a(href="#reglament").navigation__link Регламент применения
				li.navigation__item
					a(href="#experience").navigation__link Опыт
				li.navigation__item
					a(href="#company").navigation__link Компания
				li.navigation__item
					a(href="#mass-media").navigation__link СМИ о нас
				li.navigation__item
					a(href="#shop").navigation__link Магазин
			//- .menu-btn
				span